<div>
<svg >
  <defs>
    <g id="cube" class="cube-unit">
      <rect width="21" height="24" fill="#906737" stroke="#090909" transform="skewY(30)"/>
      <rect width="21" height="24" fill="#916b41" stroke="#090909" transform="skewY(-30) translate(21 24.3)"/>
      <rect width="21" height="21" fill="#916b41" stroke="#090909" transform="scale(1.41,.81) rotate(45) translate(0 -21)"/>
    </g>
  </defs>
  </svg>

  <svg viewBox="0 0 40 50" width="350" height="330">
    <use href="#cube" x="0" y="13"/>
    </svg>
    <button>ARE YOU READY</button>
    <svg class="bottom" viewBox="0 0 40 50" width="350" height="330">
      <use href="#cube" x="0" y="13"/>
      </svg>
  </div>
